---
layout: jumbotron-page
jumbotron: content/jumbotrons/lonecolor-android.html

title: "LoneColor for Android: Instant color wallpapers, infinite palette!"
description: "Try a surprising random color, or copy a color code from another app or from an online color loving community, tap LoneColor & see it fill the screen."
---

<section class="row">
    {% include cbox.html index="1" title="Color wallpapers"
    content="<p>Install the free, tiny, and zero interface LoneColor app, and tap its icon to instantly set a beautiful color as your cool, modern and elegant wallpaper. LoneColor brings an infinite palette of tints to your Android smartphone or tablet.</p>" %}

    {% include cbox.html index="2" title="Just one tap"
    content="<p>LoneColor is a zero interface app not only on Windows, but also on Android: just tap its icon on the Home screen, or in the app drawer, and instantly see the wallpaper of your device change into ... a surprising random color.</p>" %}

    {% include cbox.html index="3" title="Or copy/tap"
    content="<p>Simply copy one of the millions of color codes from a color loving community on the Internet, or from any other app, and tap LoneColor to see it instantly fill your screen. Try a web color code like <i>#D31996</i>, <i><a href='http://bada55.io/' target='_blank' rel='noopener'>#C0FFEE</a></i>, <i>DECAFF</i>, or <i>red</i>.</p>" %}

    {% include cbox.html index="4" title="Great alternative"
    content="<p>LoneColor wallpapers are a refreshing and relaxing change from the traditional photo wallpapers. They also free up valuable memory, consume less battery, and make your device runaster.</p>" %}

    {% include cbox.html index="5" title="Minimalist, but frank"
    content="<p>LoneColor is tiny and minimalist: no user interface, no settings, nothing. And it gives feedback using the... Clipboard. Paste anywhere to get the color code of the random wallpaper, or any (unlikely) error messages.</p>" %}

    {% include cbox.html index="1" title="Keep tapping"
    content="<p>If the random color wallpaper is not to your taste, and because LoneColor is so &quot;instant&quot; and easy to use, you can keep tapping its icon until you are satisfied with the result. And refresh as often as you like.</p>" %}
</section>

{% include logos.html 
    ids="pcadvisor-lonecolor, download3k-lonecolor-android, betanews-lonecolor, softpedia-lonecolor-android" %}

<section class="row">
    {% include cbox.html index="1" title="Softpedia" link="http://mobile.softpedia.com/android/LoneColor-Android-Review-1485.html" newtab="true"
    content="<p><q><strong>One of the most simplistic and cleverly designed apps</strong> we've seen in a long time.</q> (5 Stars - Excellent Editor's Review)</p>" %}

    {% include cbox.html index="2" title="BetaNews" link="http://betanews.com/2015/05/01/set-your-wallpaper-to-a-single-shade-with-lonecolor/" newtab="true"
    content="<p><q>Specify the shade: on Android <strong>this is as easy as</strong> visiting a site like HTML Color Codes, copying a color code and tapping the app icon.</q></p>" %}

    {% include cbox.html index="3" title="PC Advisor" link="http://www.pcadvisor.co.uk/downloads/3330403/lonecolor-30080/" newtab="true"
    content="<p><q>Run it and your background will be set to a random colour. ... Copy a colour code from anywhere and tap the icon to use that shade.</q></p>" %}

    {% include cbox.html index="4" title="TrishTech" link="http://www.trishtech.com/2015/05/lonecolor-sets-random-solid-color-wallpapers-in-android/" newtab="true"
    content="<p><q>Depending on your mood, if you prefer a solid color wallpaper on Android phones, then <strong>you are going to love the LoneColor app</strong>.</q></p>" %}

    {% include cbox.html index="5" title="Techglimpse" link="http://techglimpse.com/lonecolor-android-app-solid-background-smartphone/" newtab="true"
    content="<p><q>Color me green, Color me red, Color me good - <strong>LoneColor me for sure!</strong> ... It is really tiny and free, and it's fun and pretty.</q></p>" %}

    {% include cbox.html index="1" title="More Reviews" link="/lonecolor/reviews/"
    content="<p>Read more LoneColor reviews from all over the world, from leading media outlets, news sources, blogs, and download portals.</p>" %}
</section>
