---
layout: jumbotron-page

jumbotron: content/jumbotrons/home.html

title: "Appgramming - The Minimalist App Developer"
description: "Free, tiny, simple, portable apps for PCs and mobile devices. Minimal design, zero interface, and a different approach. Home of LoneColor and FrameDummy."
---

<section class="row">
    {% include cbox.html index="1" title="LoneColor for Windows" link="/lonecolor/windows/"
    content="<p>Use the free, tiny and portable LoneColor app to set any solid color you like as your Desktop wallpaper, or let it surprise you with a randomly generated color wallpaper. It has a minimal design and it is very easy to use directly from your Desktop.</p>" %}

    {% include cbox.html index="2" title="LoneColor for Android" link="/lonecolor/android/"
    content="<p>Set an instant beautiful color wallpapers on your smartphone or tablet. An infinite palette with one tap! Try a surprising random color, or copy a color code from another app or site, tap LoneColor &amp; see it fill the screen. Free and Open Source.</p>" %}

    {% include cbox.html index="3" title="FrameDummy" link="/framedummy/windows/"
    content="<p>Get a fake window frame around any image or screen area. The frame dummy looks and behaves like a real desktop window. Use it for photo frames, messages, pranks, greetings, birthday cards, or interface testing. Don't forget to try the new Prank Mode!</p>" %}
</section>

{% include logos.html 
    ids="software-informer-excellent-lonecolor-windows, webuser-lonecolor-windows, cnet-lonecolor-windows, 
    betanews-lonecolor, addictivetips-lonecolor-windows, giga-lonecolor-windows, pcadvisor-lonecolor, 
    techworld-lonecolor, softpedia-lonecolor-windows, softwarecrew-lonecolor, rockybytes-lonecolor-windows, 
    pcnet-lonecolor-windows, baixaki-lonecolor-windows, freeware-de-lonecolor-windows, globedia-lonecolor-windows, 
    ilovefreesoftware-lonecolor-windows" %}