---
layout: info-page

section-title: FrameDummy
section-url: /framedummy/windows/
page-title: Download

title: "Download FrameDummy - Appgramming"
description: "A fake Desktop window frame anywhere. For screenshots, pranks, or development. Download the portable FrameDummy. No installation is required! Only 31KB."
---

<section class="row">
    {% capture the_content %}
        <p><a class="btn btn-primary apg-btn-download" href="http://download.appgramming.com/framedummy/windows/framedummy-installer.exe">Get Installer</a></p>
        <p><strong>Version 2.0</strong>. Only 104KB. Download and run the installer file to install the program on your PC, create a Desktop shortcut, and setup an uninstaller.</p>
    {% endcapture %}
    {% include cbox.html index="1" title="Installer Version" content=the_content %}

    {% capture the_content %}
        <p><a class="btn btn-primary apg-btn-download" href="http://download.appgramming.com/framedummy/windows/framedummy-portable.zip">Get Portable</a></p>
        <p><strong>Version 2.0</strong>. Only 31KB. No installation is required: download the ZIP archive, unzip and run. You can also carry this version on a portable USB drive.</p>
    {% endcapture %}
    {% include cbox.html index="2" title="Portable Version" content=the_content %}

    {% capture the_content %}
        <p><a class="btn btn-secondary apg-btn-download" href="https://github.com/appgramming/">Get Source</a></p>
        <p>The source code of FrameDummy is available on GitHub. We look forward to your feature requests, bug reports, and any contributions!</p>
    {% endcapture %}
    {% include cbox.html index="3" title="Source Code" content=the_content %}

    {% include lbox.html title="Online Help" link="/framedummy/windows/help/" %}
    {% include lbox.html title="Read License" link="/framedummy/windows/license/" %}
    {% include lbox.html title="View History" link="/framedummy/windows/history/" %}
</section>

<div class="apg-cbox apg-cbox-wrapper">
    <div class="row align-items-center">
        {%- include logo.html id="osi" -%}
        {%- include logo.html id="github-framedummy-windows" -%}
        {%- include logo.html id="softpedia-clean-framedummy-windows" -%}
        {%- include logo.html id="software-informer-clean-framedummy-windows" -%}
    </div>
</div>

