---
layout: info-page

section-title: LoneColor
section-url: /lonecolor/windows/
page-title: Reviews

title: "LoneColor Reviews - What The Media Is Saying"
description: "LoneColor will provide it with an infinite palette of solid color wallpapers to add an elegant and relaxing atmosphere to your desktop - Software Informer"
---
<div class="apg-cbox apg-cbox-wrapper">
    <div class="row align-items-center">
        {%- include logo.html id="software-informer-excellent-lonecolor-windows" -%}
        {%- include logo.html id="webuser-lonecolor-windows" -%}
        {%- include logo.html id="cnet-lonecolor-windows" -%}
        {%- include logo.html id="betanews-lonecolor" -%}
        {%- include logo.html id="addictivetips-lonecolor-windows" -%}
        {%- include logo.html id="giga-lonecolor-windows" -%}
        {%- include logo.html id="pcadvisor-lonecolor" -%}
        {%- include logo.html id="techworld-lonecolor" -%}
        {%- include logo.html id="softpedia-lonecolor-windows" -%}
        {%- include logo.html id="softwarecrew-lonecolor" -%}
        {%- include logo.html id="rockybytes-lonecolor-windows" -%}
        {%- include logo.html id="pcnet-lonecolor-windows" -%}
        {%- include logo.html id="baixaki-lonecolor-windows" -%}
        {%- include logo.html id="freeware-de-lonecolor-windows" -%}
        {%- include logo.html id="globedia-lonecolor-windows" -%}
        {%- include logo.html id="ilovefreesoftware-lonecolor-windows" -%}
    </div>
</div>

<h1 class="apg-page-title">LoneColor for Windows</h1>
{% include reviews.html app="lonecolor-windows" %}

<h1 class="apg-page-title">LoneColor for Android</h1>
{% include reviews.html app="lonecolor-android" %}

