---
layout: jumbotron-page

jumbotron: content/jumbotrons/framedummy-windows.html

title: "FrameDummy: A fake desktop window frame anywhere"
description: "Get a window frame around any image or screen area. The frame dummy looks and behaves like a real desktop window. For screenshots, pranks, or development."

redirect_from : /framedummy/
---

<section class="row">

    {% include cbox.html index="1" title="A fake frame"
    content="<p>Run FrameDummy and get an empty and transparent desktop window frame. Move the frame over any other window or screen area, or resize it to any desired size. Just like any other desktop window.</p>" %}

    {% include cbox.html index="2" title="Add an image"
    content="<p>Fill the fake frame with any image just by dragging and dropping the image file. Use a holiday photo, a birthday card, a smiley face, a texture, or even a screenshot of another real window.</p>" %}

    {% include cbox.html index="3" title="Play a prank"
    content="<p>Use FrameDummy to make a fake desktop window, that looks 100% real. Choose a program or link that will open when the fake window is clicked. Hide all clues to its identity, and even make it unclosable.</p>" %}

    {% include cbox.html index="4" title="Leave a message"
    content="<p>Write a greeting or a birthday card, save it as image, and show it with FrameDummy. Personalize it with a nice message in the title bar, and set it to automatically open as a desktop window when the PC starts.</p>" %}

    {% include cbox.html index="5" title="Test an interface"
    content="<p>If you are involved in software development, there are times when you want to see how an interface looks like as a real desktop window. FrameDummy allows you to test it like the real thing.</p>" %}

    {% include cbox.html index="1" title="Easy to customize"
    content="<p>Simply right click or press Ctrl+S, and start customizing: change the window title, icon, and content, make it resizable or fixed, hide some buttons, or remove it from the Windows taskbar.</p>" %}
</section>

{% include logos.html 
    ids="software-informer-excellent-framedummy-windows, addictivetips-framedummy-windows, softpedia-framedummy-windows,
    cnet-framedummy-windows, baixaki-framedummy-windows, freeware-de-framedummy-windows, rockybytes-framedummy-windows,
    download3k-lonecolor-windows" %}

<section class="row">
    {% include cbox.html index="1" title="Software Informer" link="http://framedummy.software.informer.com/" newtab="true"
    content="<p><strong>Editor's Pick Award:</strong> <q>Simple yet highly effective - nobody will notice the difference to a standard Windows desktop frame.</q></p>" %}

    {% include cbox.html index="2" title="freeware.de" link="http://www.freeware.de/download/framedummy/?utm_source=badge&utm_medium=BA&utm_campaign=badge_manufacturer" newtab="true"
    content="<p><q>This free tool is a funny gimmick. ... FrameDummy ensures surprised faces. The application is simple and the result is deceptively real.</q></p>" %}

    {% include cbox.html index="3" title="Download3K" link="http://www.download3k.com/Desktop-Enhancements/Other-enhancements/Download-FrameDummy.html" newtab="true"
    content="<p><strong>Excellent Award:</strong> <q>This one is a quite special program with unique functionality, thus there are no alternatives.</q></p>" %}

    {% include cbox.html index="4" title="Rocky Bytes" link="http://www.rockybytes.com/framedummy" newtab="true"
    content="<p><strong>Rocky Bytes Score: Great!</strong> <q>FrameDummy is just that, a dummy window frame that can be used for just about anything you want.</q></p>" %}

    {% include cbox.html index="5" title="AddictiveTips" link="http://www.addictivetips.com/windows-tips/create-app-mockups-or-get-a-resizable-dummy-window-framedummy/" newtab="true"
    content="<p><q>The real fun starts in the tool's settings window, that customizes the frame. ... FrameDummy works perfectly at what it does.</q></p>" %}

    {% include cbox.html index="1" title="More Reviews" link="/framedummy/reviews/"
    content="<p>Read more FrameDummy reviews from all over the world, from leading media outlets, news sources, blogs, and download portals.</p>" %}
</section>
