---
layout: info-page

section-title: LoneColor
section-url: /lonecolor/windows/
page-title: Download

title: "Download LoneColor for Windows - Appgramming"
description: "Set any color you like as your Desktop wallpaper, with a simple double-click. Download the portable LoneColor. No installation is required! Only 36KB."
---

<section class="row">
    {% capture the_content %}
        <p><a class="btn btn-primary apg-btn-download" href="http://download.appgramming.com/lonecolor/windows/lonecolor-installer.exe">Get Installer</a></p>
        <p><strong>Version 3.0</strong>. Just 115KB. Download and run the installer file to install the program on your PC, create a Desktop shortcut, and setup an uninstaller.</p>
    {% endcapture %}
    {% include cbox.html index="1" title="Installer Version" content=the_content %}

    {% capture the_content %}
        <p><a class="btn btn-primary apg-btn-download" href="http://download.appgramming.com/lonecolor/windows/lonecolor-portable.zip">Get Portable</a></p>
        <p><strong>Version 3.0</strong>. Only 36KB. No installation is required: download the ZIP archive, unzip and run. You can also carry this version on a portable USB drive.</p>
    {% endcapture %}
    {% include cbox.html index="2" title="Portable Version" content=the_content %}

    {% capture the_content %}
        <p><a class="btn btn-secondary apg-btn-download" href="https://github.com/appgramming/LoneColor-Windows" target="_blank" rel="noopener">Get Source</a></p>
        <p>The source code of LoneColor for Windows is available on GitHub. We look forward to your feature requests, bug reports, and any contributions!</p>
    {% endcapture %}
    {% include cbox.html index="3" title="Source Code" content=the_content %}

    {% include lbox.html title="Online Help" link="/lonecolor/windows/help/" %}
    {% include lbox.html title="Read License" link="/lonecolor/windows/license/" %}
    {% include lbox.html title="View History" link="/lonecolor/windows/history/" %}
</section>

<div class="apg-cbox apg-cbox-wrapper">
    <div class="row align-items-center">
        {%- include logo.html id="osi" -%}
        {%- include logo.html id="github-lonecolor-windows" -%}
        {%- include logo.html id="softpedia-clean-lonecolor-windows" -%}
        {%- include logo.html id="software-informer-clean-lonecolor-windows" -%}
    </div>
</div>
