{% include jumbotron.html 
    id = "lonecolor-windows"
    title = "LoneColor"
    subtitle = "for Windows: your color as wallpaper"
    link = "/lonecolor/windows/"
    text = "Rename \"LoneColor\" to \"LoneColor Pink\", run and get a Pink Desktop wallpaper! Or run as it is, and get a beautiful random color wallpaper."
    download-link = "/lonecolor/windows/download/"
    download-title = "Free Download"
    extra = "Also available for <a href='/lonecolor/android/'>Android</a>"
    image = "/apps/lonecolor/windows/lonecolor-windows-jumbotron-shot.png"
%}