{% include jumbotron.html 
    id = "lonecolor-android"
    title = "LoneColor"
    subtitle = "for Android: instant color wallpapers"
    link = "/lonecolor/android/"
    text = "Tap to instantly set a beautiful color wallpaper on your device. Try a surprising random color, or copy/tap any color code."
    download-link = "https://play.google.com/store/apps/details?id=com.appgramming.lonecolor"
    download-title = "Get it on Google Play"
    extra = "Also available for <a href='/lonecolor/windows/'>Windows</a>"
    image = "/apps/lonecolor/android/lonecolor-android-jumbotron-shot.png"
%}