---
layout: info-page

section-title: FrameDummy
section-url: /framedummy/windows/
page-title: History

title: "FrameDummy Version History - Appgramming"
description: "This is the FrameDummy version history (also called the changelog or release notes)."
---

{% capture content %}
    <ul>
        <li>The new Prank Mode: open a program or link from the fake window; and hide all clues to its identity.</li>
        <li>An easier to use, tabbed Settings window.</li>
        <li>Two editions: portable and installable.</li>
        <li>Improved native support for Windows 8, 8.1 and Windows 10 Technical Preview.</li>
        <li>A brand new icon.</li>
    </ul>
{% endcapture %}
{% include veritem.html version="Version 2.0" datetime="2015-05-25" date="May 25, 2015" whatsnew=content %}

{% capture content %}
    <p>First public release.</p>
{% endcapture %}
{% include veritem.html version="Version 1.0" datetime="2013-03-22" date="Mar 22, 2013" whatsnew=content %}
