---
layout: jumbotron-page

jumbotron: content/jumbotrons/lonecolor-windows.html

title: "LoneColor for Windows: Set any color you like as wallpaper"
description: "Use the free, tiny and portable LoneColor to set any solid color you like as your Desktop wallpaper, or let it surprise you with a random color wallpaper."

redirect_from : /lonecolor/
---

<section class="row">
    {% include cbox.html index="1" title="Color wallpapers"
    content="<p>Solid color wallpapers may be a welcome, refreshing and modern change from the traditional photo wallpapers. They also free up valuable memory and make PCs run faster. Use LoneColor to try one on your Desktop.</p>" %}

    {% include cbox.html index="2" title="Just one click"
    content="<p>LoneColor is very easy to use: simply drop the program or its shortcut on your Desktop and double-click it to get a random color wallpaper. Or rename &quot;LoneColor&quot; to &quot;LoneColor Pink&quot;, and run it to get a Pink wallpaper.</p>" %}

    {% include cbox.html index="3" title="No user interface"
    content="<p>LoneColor has a minimal design and no user interface! To specify the color you want to use, just add its name or code to the program name. It's like using command line parameters, but a lot easier. And less technical.</p>" %}

    {% include cbox.html index="4" title="Clipboard talk"
    content="<p>As a zero interface app, LoneColor has no windows! So it talks to the user using the... Clipboard. It writes the color code of your wallpaper, or any error messages, to the Clipboard. To see them, paste anywhere.</p>" %}

    {% include cbox.html index="5" title="Works anywhere"
    content="<p>If you are using a notebook and running a Starter Edition of Windows, you are stuck with the default wallpaper. There is no option to change it. LoneColor can help you set a fast and clean solid color wallpaper.</p>" %}

    {% include cbox.html index="1" title="Easy to go back"
    content="<p>Want to restore your old photo wallpaper? Rename &quot;LoneColor&quot; to &quot;LoneColor C&quot; (or create a &quot;LoneColor C&quot; shortcut), and run it to open the Desktop Background Control Panel, where you can easily undo changes.</p>" %}
</section>

{% include logos.html 
    ids="software-informer-excellent-lonecolor-windows, webuser-lonecolor-windows, cnet-lonecolor-windows,
    betanews-lonecolor, freeware-de-lonecolor-windows, giga-lonecolor-windows, pcadvisor-lonecolor, 
    techworld-lonecolor" %}

<section class="row">
    {% include cbox.html index="1" title="GIGA" link="http://www.giga.de/downloads/lonecolor/" newtab="true"
    content="<p><q><strong>LoneColor with the surprise effect</strong>: start the program without changes, and it randomly selects a tint and colors the background.</q></p>" %}

    {% include cbox.html index="2" title="Software Informer" link="http://lonecolor.software.informer.com/" newtab="true"
    content="<p><q>Very few free, small, simple apps are really worth downloading, let alone installing. <strong>LoneColor is one of those few apps.</strong></q></p>" %}

    {% include cbox.html index="3" title="AddictiveTips" link="http://www.addictivetips.com/windows-tips/lonecolor-quickly-set-any-solid-color-as-desktop-background/" newtab="true"
    content="<p><q>LoneColor boasts what could appropriately be called a zero interface. ... In a nutshell, <strong>it's a very simple and unique app</strong>.</q></p>" %}

    {% include cbox.html index="4" title="BetaNews" link="http://betanews.com/2015/05/01/set-your-wallpaper-to-a-single-shade-with-lonecolor/" newtab="true"
    content="<p><q>A tiny free tool with <strong>one simple, minimalist answer</strong>. Just run the program and it sets your wallpaper to a solid color.</q></p>" %}

    {% include cbox.html index="5" title="Freeware.de" link="http://www.freeware.de/download/lonecolor-for-windows/?utm_source=badge&utm_medium=BA&utm_campaign=badge_manufacturer" newtab="true"
    content="<p><q>With LoneColor, what sounds simple, makes sense. ... Who wants more concentration on the computer, <strong>has found the right tool.</strong></q></p>" %}

    {% include cbox.html index="1" title="More Reviews" link="/lonecolor/reviews/"
    content="<p>Read more LoneColor reviews from all over the world, from leading media outlets, news sources, blogs, and download portals.</p>" %}
</section>
